export(callDifferentialExpression)
export(downloadMartData)
export(estimateVariance)
export(loadByTarget)
export(mergeGenes)
export(plotSpreadDistribution)
export(prepareByAccession)
export(prepareByTarget)
